<h1>Añadir nueva pelicula</h1>
<%= form_for @movie do |m| %>
  <%= m.label :titulo %>
  <%= m.text_field :title %>
  <%= m.label :calificación %>
  <%= m.text_field :rating %>
  <%= m.label :review %>
  <%= m.text_field :review %>
  <%= m.submit 'Crear película' %>
<% end %>
