<!DOCTYPE html>
<html>
  <head>
    <title>Viticritics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Quarto de cine: aquí empieza Viticritics</h1>
    <%= notice %>
    <%= yield %>
  </body>
</html>
